body {
  background-color: #2a475e;
  color: #c7d5e0;
  font-family: sans-serif, Arial, Helvetica, Verdana
}

#root {
  display: flex;
  justify-content: center;
}

#game-banner-container {
  position: absolute;
  width: 100vw;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-banner {
  width: 90vw;
  height: 80vh;
}

.shakeItAnimation {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.rotateAnimation {
  animation: rotation 1s infinite linear;
  animation-iteration-count: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.cart-quantity-meter {
  position: absolute;
  left: 92.2%;
  top: 10%;
  width: 1.75vw;
  border-radius: 50%;
  height: 1.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1em;
  color: #2a475e;
  background-color: #c7d5e0;
}