#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  width: 100vw;
}

#search-input {
  font-size: 1.5em;
}

#search-input {
  border-radius: 5%;
}

#search-button {
  height: 3vh;
  width: 10vw;
  font-size: 1em;
  background-color: #66c0f4;
  color: #1b2838;
}